body{
    background-color: lightgray;
    background-image: url('../images/home_bg/bg-kk-grass-field.jpg');
    background-size: cover;
    background-position: center;
}
.main-content{
    min-height:1080px;

}

.btn-primary {
    border-radius: 0;
    text-align: left;
}

.row.footer {
    margin: 0;
}

.footer-main{
    height: 250px;
    background-color: #303030;
    position: relative;
    bottom: 0;
    color:#c2c2c2;
}

.footer-content{
    width: 33.33%;
    float:left;
}
.footer-content-left,.footer-content-middle , .footer-content-last{
    margin:0;
    padding: 15px;
    line-height: 40px;
    height: 200px;
    margin-top: 25px;
    border-right: 1px solid #8c8c8c;
}
.footer-content-left{
    line-height: 40px;
    padding-left: 15%;
    text-align: left;
}
.footer-content-last{
    border: 0;
    text-align: center;

}
.footer-content-last img{
    width: 60%;
}
.footer-content-middle{
    padding-left: 15px;
    padding-top: 5px;
    text-align: center;
    line-height: 30px;
}
.box-shadow-default{
    box-shadow:   -20px 20px 70px #5a5a5a;
}
#singleSelect{
    border-radius: 0;
}
.not-accepted{

    text-align: center;
}
.file_row_background0{
    background-color: rgba(60, 49, 50, 0.27);
    border-radius: 5px;
}
.file_row_background1 {
    background-color: rgba(255, 92, 15, 0.53);
    border-radius: 5px;

}
.file_row_background2{
    background-color: rgba(255, 7, 0, 0.62);
    padding-left: 30px;
    background-image: url(https://cdn2.iconfinder.com/data/icons/freecns-cumulus/32/519791-101_Warning-128.png);
    background-position: 10px 50%;
    background-size: 20px, 20px;
    background-repeat: no-repeat;
    border-radius: 5px;

}

.file_row{


   padding-left: 30px;
    padding-top: 10px;
    margin-top: 5px;


}
/*.file_row p {
    display: table-cell;
    vertical-align: middle;
    margin:0;
    padding: 15px;
    /!*padding: 0;*!/

}
.file_row span{
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}*/
.single-glyph-dashb{
    float:right;
   line-height: 30px;
}
.confirm-marks{
    text-align: right;
    color: #4373ff;
}
.exit-mark{

}
.check-mark{

}
@media only screen and (max-width: 767px) {
    .file_row{
        display:block;
        padding: 5px;
        text-align: center;
        ;

    }

    .vol-add-proj a {
        text-align: center;
        font-size: 1.58em;
    }
    .confirm-marks{
        text-align: center;
        color: #4373ff;


    }
    .exit-mark{
font-size: 3em;
    }
    .check-mark{
        font-size: 3em;
    }
  .single-glyph-dashb{
      font-size: 2.5em;
        float:none;
  }
    .footer-content{
        width: 100%;
        float:left;
        border: 0 solid black;
    }
    .footer-main{
        height: 250px;
        background-color: #303030;
        position: relative;
        bottom: 0;
        color:#c2c2c2;
        border: 0 solid black;
    }
    .footer-content-last{
        display:none;
        border: 0 solid black;
    }
    .footer-content-middle{
        border:0;
    }
    .footer-content-last img{
        width: 60%;
        border: 0 solid black;
    }
    .footer-content-left{
        display:none;
    }
    .btn-search{
        text-align: center !important;
        display: inline-block;
        float: right;
        margin-right: 15px;
        width: 30%;
    }
    .btn-search{
        margin-top: 15px;
    }
    .vol-search-btn{
        margin-top: 15px;
        width: 100%;
    }
    #singleSelect{
        margin-top: 15px;
    }
    .td-small-hide{
        display:none;
    }
}


