*{

    font-family: "Myriad Pro", "tahoma","century gothic","Arial","verdana",sans-serif;
}
.panel{
    border-radius: 0;
    border: 0;
}
.panel-heading{
    background-color: #D42E12 !important;
    color: white !important;
    border-radius: 0;

}

input{
    border-radius: 0 !important;
}

.btn-primary{
    border-radius: 0 !important;
    background-color:#542657 ;

}

.btn-primary:hover{
    background-color: #381a3b;
}

.btn-link{
    color:#542657;
}

