.row-title {
    width: 60%;
    float: left;
}

.row-icons, {
    width: 40%;
    float: right;
}

.row-icons a {
    display: inline-block;
    float: right;
    padding-left: 15px;
}

.tbl-cl {
    display: table-cell;
}

.toggleCollapse {
    position: absolute;
    right: 15px;

    top: 35%;
}

.text-align-middle {
    padding-top: 7px;
}

.sub-page-banner {
    margin-top: -25px;
    margin-bottom: 20px;
    height: 350px;
    background-image: url('../images/page_header/bestanden-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border: 0;

}

.sub-page-banner h1 {
    line-height: 300px;
    color: white;
}

.sub-header-img {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    height: 300px;
    top: calc(50% - 150px);
    position: absolute;
    left: 5%;

}

/*.tape1{
    -webkit-filter: hue-rotate(180deg); /!* Safari *!/
    filter: hue-rotate(220deg);
    -ms-transform: rotate(220deg); /!* IE 9 *!/
    -webkit-transform: rotate(90deg); /!* Chrome, Safari, Opera *!/
    transform: rotate(90deg);
    position: absolute;
    left: -25px;
    top: -25px;
width: 70px;
}*/
.page-header {
    text-align: center;
    height: 400px;
    /*   background-image: url('../images/page_header/touw.png');
       background-repeat: no-repeat;*/
    /*  background-color:white;*/
}

.dashb-bg-rope1 {
    width: 400px;
    position: absolute;
    bottom: 2000px;
    left: 250px;
    z-index: 3;
    /*    box-shadow: 4px 4px 20px #5a5a5a;*/
    animation-name: rope1;
    animation-duration: 3s ;
    -webkit-animation-delay: 0.5s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

}

@keyframes rope1 {
    0% {

        bottom: 2000px;
    }
    60%{
        bottom: 2000px;
    }
    80% {

        bottom:  -100px;
    }
    90% {

        bottom: 50px;
    }

    100% {
        bottom: 0;
    }
}

.dashb-bg-rope2 {
    width: 400px;
    position: absolute;
    bottom:  2000px;
    left: -20px;
    z-index: 3;
    /*    box-shadow: 4px 4px 20px #5a5a5a;*/
    animation-name: rope1;
    animation-duration: 3s ;
    -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 768px) {
    .row-title {
        width: 100%;
        float: left;
        font-size: 1.5em;
        text-align: center;
    }
    .dashb-bg-rope1{
        display:none;
    }
    .dashb-bg-rope2{
        display:none;
    }
    .row-icons {
        margin-top: 15px;
        width: 100%;
        float: right;
    }

    .row-icons a {
        display: inline-block;
        width: 50%;
        float: right;
        margin: 0;
        padding: 0;
        font-size: 2em;
        text-align: center;
    }

    .row-icons a span {

    }
}

@media only screen and (max-width: 767px) {
    .inactive_users_dashboard a {
        width: 100%;
        text-align: center;
    }

    .inactive_users_dashboard div {
        margin-top: 15px;
    }

    .inactive_users_dashboard div a {
        margin-top: 5px;
        width: 100%;
        text-align: center;
    }

    .inactive_user_name {
        text-align: center;
        width: 100%;
        font-size: 1.5em;
    }
}