nav{
    display: none;
}
.footer-main{
    display: none;
}
.home-margin-content{
    margin-top: 100px;
}

.home-margin-header{
     padding-top:30px;
 }
 .home-header-gradient{
     background: -webkit-linear-gradient(top,  rgba(0,0,0,0.90) 5%,rgba(0,0,0,0) 70%);
     background: linear-gradient(to bottom,  rgba(0,0,0,0.90) 5%,rgba(0,0,0,0) 70%);

 }
.home-bg-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/home_bg/jeugdkamp-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-insp-text{

    border-top: 5px solid white;
    border-bottom: 5px solid white;
    margin-top: 50px;
}
h1{
    color:white;
}

.home-input-padding{
    padding-left: 30px;
}

.home-or{
    padding: 10px;
    margin: 0;
    padding-bottom: 0;
}
.home-input-icons{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    margin-left: 7px;

}

