nav{
    display: none;
}

.home-margin-content{
    margin-top: 100px;
}

.home-margin-header{
     padding-top:30px;
 }
 .home-header-gradient{
     background: -webkit-linear-gradient(top,  rgba(0,0,0,0.90) 5%,rgba(0,0,0,0) 70%);
     background: linear-gradient(to bottom,  rgba(0,0,0,0.90) 5%,rgba(0,0,0,0) 70%);

 }
.home-bg-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/home_bg/jeugdkamp-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color:white;
}